@use '../../styles/functions' as *;

.login {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../assets/background.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    position: absolute;
    top: 10%;
    left: 15%;
  }

  .wrapper {
    background-color: #eeeeee;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: pxToVw(600);
    height: pxToVh(700);
    padding: pxToVw(50);
    border-radius: 20px;
  }

  .login-form {
    height: pxToVh(300);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .password {
    display: flex;
    justify-content: space-around;
  }
}
