@use '../../styles/functions' as *;

.input {
  height: pxToVh(90);
  width: 100%;
  line-height: 1.25rem;
  outline: none;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  border: 0.5rem solid #c2c2c2;
  border-radius: 0.5rem;
  overflow: hidden;
  caret-color: transparent;
  user-select: none;

  &:focus {
    box-shadow: 0 0 0 3px #3b82f626;
    border-color: #6a6e77;
    align-items: baseline;

    .caret {
      position: relative;
      display: inline-block;
      width: 1px;
      background: currentColor;
      animation: blink 1s step-start infinite;
      height: 3rem;
      vertical-align: bottom;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }
}
